<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.banner) { %>
            <%- partial('post/banner') %>
        <% } %>
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
                <% if (post.layout != 'page') { %>
                    <div class="article-meta">
                        <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                        <%- partial('post/category') %>
                        <%- partial('post/tag') %>
                    </div>
                <% } %>
            </header>
        <% } %>
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
        <% if (index && post.excerpt) { %>
            <p><%- post.excerpt %></p>
            <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('article.more') %></a>
            </p>
        <% } else { %>
            <% if (!index && post.toc) { %>
                <div id="toc" class="toc-article">
                <strong class="toc-title"><%= __('article.catalogue') %></strong>
                    <%- toc(post.content) %>
                </div>
            <% } %>
            <%- post.content %>
        <% } %>
        </div>
        <% if (!index && post.layout === 'post' && post.copyright !== false) { %>
            <ul class="post-copyright">
                <li><strong>本文標題：</strong><a href="<%= post.permalink %>"><%= page.title %></a></li>
                <li><strong>本文作者：</strong><a href="<%= theme.url %>"><%= theme.author %></a></li>
                <li><strong>本文連結：</strong><a href="<%= post.permalink %>"><%= post.permalink %></a></li>
                <li><strong>發佈時間：</strong><%= post.date.format("YYYY-MM-DD") %></li>
                <li><strong>版權聲明：</strong>本站所有文章除特別聲明外，均採用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="external nofollow" target="_blank">CC BY-NC-SA 4.0</a> 許可協議。轉載請著名出處！</li>
            </ul>
        <% } %>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
            <%- partial('comment/counter', { post: post }) %>
        </footer>
    </div>
    <% if (!index) { %>
        <%- partial('post/nav') %>
    <% } %>
</article>

<% if (!index) { %>
    <%- partial('comment/index') %>
<% } %>